.modal-form-open
  // position: absolute
  // top: 50%
  // left: 50%
  // right: auto
  // bottom: auto
  // marginRight: '-50%'
  // transform: translate(-50%, -50%)
  // padding: 0
  // padding-top: 20vh
  // padding-bottom: 20vh
  background-color: rgba(255, 255, 255, 0.75)
  // background-color: red
.modal-wrap
  padding-top: 20vh
  padding-bottom: 20vh
.modal
  box-shadow: 2px 2px 5px rgba(0,0,0,.1)
  padding: 65px 45px 25px 45px
  width: 45vw
  max-width: 100%
  background: #fff
  position: relative
  margin: auto
  & > .form__row
    min-height: 60px
  & > .form__title
    margin-bottom: 60px
  &__controls
    display: flex
    justify-content: flex-end
    padding-left: 30px
    padding-right: 30px
    margin-bottom: 20px
  &__close-btn
    cursor: pointer
    position: absolute
    top: 65px
    right: 45px
    width: 35px
    height: 35px
    transition: opacity .35s
    &:before, &:after
      content: ''
      width: 2px
      height: 100%
      position: absolute
      background-color: rgb(204, 204, 204)     
      left: 20px
      top: 0
    &:before
      transform: rotate(45deg)
    &:after
      transform: rotate(-45deg)
    &:hover
      opacity: .7      



@media (max-width: 1399px)
  .modal
    width: 60%
    
@media (max-width: 1399px) and (max-height: 799px)
  .modal
    & > .form__row
      min-height: 50px

@media (max-width: 1199px) and (orientation: landscape)
  .modal
    padding: 25px 45px 15px 45px
    & > .form__title
      margin-bottom: 30px
    &__close-btn
      top: 25px

@media (max-width: 1199px)
  .modal
    width: 80%

@media (max-width: 575px)
  .modal
    padding: 10px
    & > .form__title
      font-size: 24px
      margin-bottom: 40px
      margin-top: 20px
    &__close-btn
      top: 20px
      right: 10px
  // .ReactModal__Content
  //   width: 100%
  //   margin-top: 150px
  //   margin-bottom: 25px
  // .ReactModal__Overlay
  //   position: relative
  //   top: 30px!important
  //   left: 10px!important
  //   right: 10px!important
  //   bottom: 10px!important


