.product-page
  #product-info-section, #product-includes-section, #product-slider-section
    margin-bottom: 150px
  .additional-info
    margin-top: 100px
    background-color: #fff
    width: 90%
    min-height: 300px
    margin-left: 5%
    margin-right: 5%
    padding: 50px

@media (max-width: 991px)
  .product-page
    .additional-info
      width: 100%
      margin-left: 0
      margin-right: 0
      padding: 25px