.single-news-page
  #single-news-body
    margin-top: 90px
    margin-bottom: 150px
  .single-news-body
    &-poster
      margin-bottom: 90px
      img
        object-fit: cover
        width: 100%
    &-container
      img
        max-width: 100%
        height: auto!important
      p
        margin-bottom: 30px
        line-height: 30px
        padding-left: 20%
        padding-right: 20%

@media (max-width: 575px)
  .single-news-page
    .single-news-body
      &-container
        p
          padding-left: 15px
          padding-right: 15px