.delivery__map-container
  position: relative
.tooltip
  padding: 15px
  &-single
    display: flex
    .tooltip
      &__title
        margin-bottom: 0
        width: min-content
  &__title
    font-size: 1.5rem
    font-family: 'Roboto'
    margin-bottom: 1.5rem
  &__list
    display: flex
  &__item
    display: flex
    &:before
      content: ''
      width: 1px
      height: 50px
      background: gray
      display: inline-block
      margin: 0 20px
    &:first-child:not(:only-child):before
      display: none
  &__item-info
    margin-left: .5rem
  &__item-title
    font-size: 1.75rem
    font-weight: bold
    line-height: 1.25
  &__item-subtitle
    color: gray
    text-transform: uppercase

.__react_component_tooltip.show
  opacity: 1

.water-drop
  width: 39px
  height: 51px
  &--blue
    path
      fill: #32B8FF

@keyframes upLift
  from
    transform: translate3d(0, 0, 0)
  to
    transform: translate3d(6px, -6px, 0)