.contacts
  &__hero
    color: #111111  
  &__title
    margin-bottom: 2rem
  &__subtitle
    font-size: 0.9375rem
    line-height: 1.875rem
    padding-right: 20px
  &__list
    margin-bottom: 45px
    margin-top: 100px
  &__list-item
  &__item
  &__item-title
    font-size: 1.125rem
    font-weight: bold
    margin-bottom: 1rem
  &__item-description
    font-size: 1.0625rem
    line-height: 25px
  &__map
    width: 100%
    height: 720px
    // padding: 0 140px
    margin-bottom: 200px
    position: relative
    &__spinner
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%,-50%)
      z-index: 3
    .overlay-block
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      z-index: 2
  &__form-container
    max-width: 1090px
    width: 100%
    margin: 0 auto
  &__form
    transform: translateY(-200px)
    padding-left: 138px
    padding-right: 138px
    padding-top: 138px
    background-color: #fff
    border-radius: 5px
    box-shadow: 0px 20px 30px rgba(0,0,0,.03)
    color: #111


@media (max-width: 1439px)
  .contacts
    &__form
      padding-left: 75px
      padding-right: 75px

@media (max-width: 1199px)
  .contacts
    &__list-item
      margin-bottom: 20px
    &__map
      padding: 0 25px
    &__form
      transform: translateY(-100px)
      padding-top: 45px
      padding-left: 10px
      padding-right: 10px
      margin: 0 auto
    &__form-title
      text-align: center
    &__form-row
      font-size: 16px
      flex-direction: column
    &__form-label
      flex-basis: auto
      align-self: flex-start
      margin-bottom: 10px
    &__form-btn-sub
      margin-left: 0
      font-size: 14px

@media (max-width: 575px)
  .contacts
    &__form
      margin-bottom: 50px
    &__map
      height: 460px
      padding: 0
    &__form
      transform: translateY(0)
      padding-left: 25px
      padding-right: 25px
    &__title
      font-size: 3.5rem
    &__list-item
      margin-bottom: 20px

@media (max-width: 375px)
  .contacts
    &__form-title
      font-size: 2rem