.hero__catalog
  .hero__text
    max-width: 488.75px
  .hero-bg 
    .img-left
      display: block
    .img-right
      width: 45%
      right: 17%
      top: 55%
      // bottom: initial

@media (max-width: 1639px)
  .hero__catalog
    .hero-bg 
      .img-right
        right: 12%
        top: 65%

@media (max-width: 1439px)
 .hero__catalog
  .hero__text
    max-width: 450px
  .hero-bg 
    .img-right
      right: 6%

@media (max-width: 1199px)
  .hero__catalog
    .hero__text
      max-width: 100%
    .hero-bg
      max-height: 300px
      .hero-bg-img
        object-fit: contain
        width: initial

@media (max-width: 991px)
  .hero__catalog
    .hero-bg
      max-height: 350px

@media (max-width: 575px)
  .hero__catalog
    .hero-bg
      max-height: 200px