.hero__catalog
  .hero__text
    max-width: 575px
  .hero-bg 
    .img-left
      display: block
    .img-right
      width: 35%
      height: initial
      right: 17%
      top: 40%
      bottom: initial

@media (max-width: 1439px)
 .hero__catalog
  .hero-bg 
    .img-right
      right: 10%
      top: 50%

@media (max-width: 1199px)
  .hero__catalog
    .hero__text
      max-width: 100%
    .hero-bg
      max-height: 300px
      .hero-bg-img
        object-fit: contain
        width: initial

@media (max-width: 991px)
  .hero__catalog
    .hero-bg
      max-height: 350px

@media (max-width: 575px)
  .hero__catalog
    .hero-bg
      max-height: 200px