::-webkit-scrollbar-track
	background-color: #E4E7EA
::-webkit-scrollbar-thumb
	border-radius: 0px
	background-color: #EC841C
::-webkit-scrollbar
	width: 4px
	height: 4px
  
html
  box-sizing: border-box

body
  font-family: "Roboto", sans-serif
  font-size: 15px
  background-color: #F2F9FB
  font-weight: 400
  overflow-x: hidden

.roboto-b
  font-weight: 500

// .slick-slider
//   display: block
// .slick-track
//   display: flex
// .slick-slide
//   height: unset
//   & > div
//     height: 100%
// .slick-list
//   overflow: unset

html, body, #app
  height: 100%

main
  min-height: 100vh

.animated-span
  display: inline-block
.animated-lines-text
  white-space: nowrap
  display: inline-block
  // width: max-content
  // max-width: 100%

.font-nova
  font-family: "ProximaNoma", sans-serif

.font-roboto
  font-family: "Roboto", sans-serif

.font-bold
  font-weight: 700

.roboto-m
  font-weight: 500

.img-responsive
  max-width: 100%
  display: block
  height: auto

.fill-text
  position: relative
  &:before
    content: attr(data-text)
    position: absolute
    // top: 0
    left: 0
    width: 0
    height: 100%
    transition: width .55s
    overflow: hidden
    z-index: 2
    -webkit-text-stroke-width: 1px
  // &:hover
  //   &:before
  //     width: 100%
