.hero__text
  line-height: 25.5px
  max-width: 510px
  margin-top: 34px
  p
    margin-bottom: 20px
    &:last-of-type
      margin-bottom: 0

@media (max-width: 1199px)
  .hero__text
    max-width: 100%