.news-page
  #news-hero
    margin-bottom: 20px
  .subscribe-form
    margin: 100px 0
  .news-grid__bottom
    margin-bottom: 100px

@media (max-width: 1639px)
  .news-page
    .news-item__img
      min-height: 240px