.header
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 1000
  padding-top: 20px
  padding-bottom: 20px
  color: #000000
  transition: background-color .35s padding .35s
  &.opened-menu
    color: #111111!important
    use.header-logo-icon
      fill: #DC7D43!important
  &.header-filled
    color: #111!important
    background-color: #ffffff
    padding-top: 13px
    padding-bottom: 13px
    .svg-logo
      height: 55px
    use.header-logo-icon
      fill: #DC7D43!important
    .header__lang
      .lang-list
        background-color: #fff!important
  use.header-logo-icon
    transition: fill .35s
  .header__nav
    a     
      &:hover
        color: #EC841C
    &--dropdown
      position: relative
      & > ul
        color: #000
        padding-top: 30px
        min-width: 300px
        // background: #fff
        position: absolute
        top: 15px
        left: 0
        display: none !important
        li 
          border-bottom: 1px solid #F2F9FB
          a 
            font-size: 15px
        &:after
          z-index: 1
          content: ''
          background: #fff
          width: 100%
          height: calc(100% - 30px)
          position: absolute
          top: 30px
          right: 0
          opacity: .98
        & > li
          position: relative
          margin-right: 0 !important
          z-index: 2
          cursor: pointer
          padding: 15px
          transition: color .45s, background-color .45s
          &.no-arrow
            padding: 0
          & > a
            color: #000
            padding: 15px
            display: block
            height: 100%
            transition: inherit
          &:before
            content: ''
            position: absolute
            top: 18px
            right: 20px
            width: 8px
            height: 8px
            border-top: 2px solid rgba(0,0,0, .15)
            border-right: 2px solid rgba(0,0,0, .15)
            transform: rotate(45deg)
            transition: border-color .45s
          &.no-arrow
            &:before, &:after
              display: none
          &:hover, &:focus
            background-color: #EE9D35
            color: #fff
            & > a 
              color: #fff
            &:before
              border-color: #fff
            & > ul
              display: block
          & > ul
            position: absolute
            left: 100%
            top: 0
            display: none
            & > li
              margin-right: 0
              min-width: 300px
              background: #fff
              transition: color .45s, background-color .45s
              color: #000
              & > a
                padding: 15px
                height: 100%
                display: block
                color: inherit
              &:hover, &:focus
                background-color: #EE9D35
                a 
                  color: #fff
      &:hover, &:focus
        & > ul
            display: block !important
  .svg-logo
    width: 95px
    height: 70px
    transition: height .55s
  a
    color: inherit
    font-size: 17px
    transition: color .35s
  &.white-header
    color: #ffffff
    use.header-logo-icon
      fill: #ffffff
  .header__nav
    ul
      display: flex
      li
        margin-right: 50px
        &:last-of-type
          margin-right: 0
  .header__lang
    position: relative
    margin-left: 100px
    padding-left: 15px
    padding-right: 15px
    cursor: pointer
    .lang-list
      position: absolute
      width: 100%
      left: 0
      display: flex
      flex-direction: column
      align-items: center
      opacity: 0
      padding-top: 5px
      padding-bottom: 5px
      // border: 1px solid #DC7D43
      background-color: rgba(0,0,0, .2)
      transition: opacity .5s, visibility 0.5s
      visibility: hidden
      li
        position: relative
        &:before
          content: ''
          position: absolute
          top: 0
          left: 0
          width: 0
          height: 2px
          background: #EC841C
          transition: width .35s
        &:hover
          &:before
            width: 100%
    &:hover
      .lang-list
        opacity: 1
        visibility: visible
          
  
use.header-logo-icon
  fill: #DC7D43

@media (max-width: 1639px)
  .header
    .header__nav
      a 
        font-size: 15px
      ul
        li
          margin-right: 35px

@media (max-width: 1439px)
  .header
    a
      font-size: 15px
    .header__nav
      ul
        li
          margin-right: 20px
    .header__lang
      margin-left: 0px
// @media (max-width: 1199px)
//   .header
//     a
//       font-size: 15px

@media (max-width: 1199px)
  .nav__menu
    display: none
  .header
    .header__logo
      flex: 1
    .header__lang
      margin-left: auto

@media (max-width: 575px)
  .header
    .svg-logo
      width: 70px
      height: 50px

@media (max-width: 359px)
  .header
    a
      font-size: 13px
    .svg-logo
      width: 40px
      height: 50px