.header
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 1000
  padding-top: 20px
  padding-bottom: 20px
  color: #000000
  transition: background-color .35s padding .35s
  &.header-filled
    color: #111!important
    background-color: #ffffff
    padding-top: 13px
    padding-bottom: 13px
    .svg-logo
      height: 55px
    use.header-logo-icon
      fill: #DC7D43!important
    .header__lang
      .lang-list
        background-color: #fff!important
  use.header-logo-icon
    transition: fill .35s
  .header__nav
    a     
      &:hover
        color: #EC841C
  .svg-logo
    width: 95px
    height: 70px
    transition: height .55s
  a
    color: inherit
    font-size: 17px
    transition: color .35s
  &.white-header
    color: #ffffff
    use.header-logo-icon
      fill: #ffffff
  .header__nav
    ul
      display: flex
      li
        margin-right: 50px
        &:last-of-type
          margin-right: 0
  .header__lang
    position: relative
    margin-left: 100px
    padding-left: 15px
    padding-right: 15px
    cursor: pointer
    .lang-list
      position: absolute
      width: 100%
      left: 0
      display: flex
      flex-direction: column
      align-items: center
      opacity: 0
      padding-top: 5px
      padding-bottom: 5px
      // border: 1px solid #DC7D43
      background-color: rgba(0,0,0, .2)
      transition: opacity .5s, visibility 0.5s
      visibility: hidden
      li
        position: relative
        &:before
          content: ''
          position: absolute
          top: 0
          left: 0
          width: 0
          height: 2px
          background: #EC841C
          transition: width .35s
        &:hover
          &:before
            width: 100%
    &:hover
      .lang-list
        opacity: 1
        visibility: visible
          
  
use.header-logo-icon
  fill: #DC7D43

@media (max-width: 1439px)
  .header
    .header__nav
      ul
        li
          margin-right: 30px
    .header__lang
      margin-left: 0px
@media (max-width: 1199px)
  .header
    a
      font-size: 15px

@media (max-width: 991px)
  .nav__menu
    display: none
  .header
    .header__logo
      flex: 1
    .header__lang
      margin-left: auto

@media (max-width: 575px)
  .header
    .svg-logo
      width: 70px
      height: 50px