.catalog__categories-grid
  display: grid
  grid-template: 569.5px / repeat(4, 24%)
  grid-gap: 23px

@media (max-width: 1439px)
  .catalog__categories-grid
    grid-template: auto / repeat(2, auto)

@media (max-width: 767px)
  .catalog__categories-grid
    grid-template: auto / 1fr