.catalog__categorie-item
  background: #ffffff
  overflow: hidden
  padding-top: 80px
  padding-left: 45px
  padding-bottom: 70px
  display: flex
  justify-content: space-between
  flex-direction: column
  h4
    font-family: "ProximaNova"
    font-size: 31px
    letter-spacing: .31px
    font-weight: 700
    margin-bottom: 40px
    padding-right: 20px
    line-height: 40px
  img
    max-width: 100%

@media (max-width: 575px)
  .catalog__categorie-item
    h4
      font-size: 22px
      line-height: 30px
