.cert
  margin-top: 250px
  &__hero
    margin-bottom: 200px
  &__gallery
  &__gallery-item
    margin-bottom: 40px

@media (max-width: 575px)
  .cert
    margin-top: 150px
    &__hero
      margin-bottom: 100px
    &__title
      padding: 0 10px
      margin-top: 10px
      font-size: 3rem