.cert-page

.cert__gallery
  margin-top: 200px
  margin-bottom: 200px
  &-item
    margin-bottom: 40px
    cursor: pointer

@media (max-width: 575px)
  .cert
    margin-top: 150px
    &__gallery
      margin-top: 100px