.hero
  min-height: 100vh
  position: relative
  color: #fff
  display: flex
  flex-direction: column
  .hero__section__inner
    height: 100%
    padding-top: 170px
    display: flex
    flex-direction: column   
    flex: 1
  & > .container
    position: relative
    height: 100%
    flex: 1
    display: flex
    flex-direction: column
  &__info-slider
    margin-bottom: auto
    .slick-list
      overflow: hidden
    .slick-slide
      height: 100%
      & > div
        height: auto
  &__bg-slider
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    .slick-slide > div
      height: 100%
    .slick-track, .slick-list
      height: 100%
  &__bg-slide-wrapper
    position: relative
    height: 100%
  &__bg-slide
    position: absolute
    left: 0
    top: 0
    bottom: 0
    right: 0
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    &:after
      content: ''
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      background: #26353D
      opacity: .7
  &__info
    margin-bottom: auto
  &__title
    font-family: 'ProximaNova', sans-serif
    font-size: 51px
    font-weight: 800
    text-transform: uppercase
    line-height: 68px
    margin-bottom: 21px
    letter-spacing: 4.1px
  &__subtitle
    font-family: 'Roboto'
    font-size: 18px
    font-weight: 300
    line-height: 30px
  &__slider
    // margin-top: auto
    overflow: hidden
    .slick-slide
      border-right: 3px solid transparent
      border-left: 3px solid transparent
  &__slider-arrows
    margin-top: -40px
    display: flex
    padding-bottom: 20px
    position: relative
    z-index: 2
    justify-content: flex-end
    .link-arrow
      background: rgba(255, 255, 255, .2)
      opacity: 1
      transition: opacity .55s
      &:before
        background-color: #fff
      &:after
        border-color: #fff
      &:hover
        opacity: .6
      &:last-child
        margin-left: 20px
  &__slide
    display: flex
    align-items: flex-start
    padding-top: 120px
    padding-left: 30%
    height: 240px
    // padding: 55px
    // margin-right: 2%
    background: rgba(255, 255, 255, .1)
    position: relative
    &__icon
      position: absolute
      left: 9%
      top: 40px
      width: 76px
      height: 76px
      img
        max-width: 100%

  &__slide-info
    // padding-top: 60px
    // margin-left: 45px
  &__slide-title
    font-family: 'Roboto', sans-serif
    font-weight: 300
    font-size: 20px
    margin-bottom: 21px
  &__slide-quantity
    font-family: 'Roboto', sans-serif
    font-weight: 700
    font-size: 26px
    letter-spacing: 1.275px
    & > span
      letter-spacing: 2.1px
      font-size: 43px
  &--dark
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background: #26353D
    opacity: .7

@media (max-width: 1439px)
  .hero
    &__title
      font-size: 60px
    &__slide
      padding-top: 70px
      padding-left: 21%
      height: 210px
      &-info
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 100%
        padding-bottom: 20px
      &__icon
        left: 3%
        top: 25px
        width: 65px
      &-title
        font-size: 20px
      &-quantity
        font-size: 25px
        span
          font-size: 40px

@media (max-width: 1199px)
  .hero
    .hero__section__inner
      padding-left: 0

@media (max-width: 991px)
  .hero
    .hero__section__inner
      padding-top: 120px
    &__title
      font-size: 45px
      line-height: 55px
    &__slider-arrows
      margin-top: 0
    &__slide
      padding-left: 0
      &__icon
        width: 81px
      &-info
        align-items: center

@media (max-width: 767px)
  .hero
    &__title
      font-size: 31px
      line-height: 45px
      word-wrap: break-word
    &__slider-arrows
      margin-top: 5px
    &__slide
      padding-left: 105px
      &__icon
        width: 81px
      &-info
        align-items: flex-start

@media (max-width: 575px)
  .hero
    .hero__section__inner
      padding-top: 30%
      padding-bottom: 20px
    &__info
      margin-bottom: 50px
      padding-bottom: 0
    &__title
      font-size: 12vw
      line-height: 1
      letter-spacing: 2px
    &__subtitle
      font-size: 15px
      line-height: 22px
      margin-bottom: 5px
    &__slider-arrows
      margin-top: 5px
      display: none
    &__slider
      margin: 0 -15px
    &__slide
      min-height: 150px
      height: auto
      padding-left: 85px
      padding-top: 15px
      padding-right: 10px
      &-quantity 
        font-size: 20px
        span
          width: 100%
          display: block
          font-size: 24px
      &__icon
        width: 61px
      &-info
        align-items: flex-start
      &-title
        line-height: 25px
        font-size: 18px
        margin-bottom: 8px


// @media (min-width: 1600px)
//   .hero
//     &__subtitle
//       padding-right: 20
//     &__slide
//       // width: 680px
//       // margin-right: 5px
//       // &:last-child
//       //   margin-right: 0

// @media (min-width: 1024px)
//   .hero
//     &__slider-arrows
//       margin-left: auto
//       // margin-right: 140px
//       // padding-bottom: 20px

// @media (max-width: 1024px)
//   .hero
//     &__title
//       font-size: 3.5rem
//     &__slider-arrows
//       // margin: 20px auto

// @media (max-width: 1024px) and (orientation: landscape)
//   .hero
//     &__title
//       font-size: 3rem
//       line-height: 1.25
//       margin-bottom: .5rem
//     &__subtitle
//       font-size: 1rem
//       line-height: 1.5

// @media (max-width: 550px)
//   .hero
//     padding-top: 100px
//     &__slider-arrows
//       margin: auto auto 10px auto
//     &__slider
//       height: unset
//     &__slide
//       min-height: 200px
//       padding: 25px 15px
//     &__slide-info
//       padding-top: 0
//       margin-left: 25px
//     &__slide-title
//       font-size: 20px
//     &__slide-quantity
//       font-size: 20px
//       & > span
//         font-size: 30px
//     &__title
//       font-size: 1.75rem
//       line-height: 1.25
//       text-align: center
//     &__subtitle
//       font-size: 1rem
//       text-align: center

// @media (max-width: 375px)
//   .hero
//     &__title
//       font-size: 1.45rem
//       margin-bottom: .5rem
//     &__subtitle
//       line-height: 1.5
//     &__slide-title
//       font-size: 1rem
//     &__slide-quantity
//       font-size: 1rem
//       & > span
//         font-size: 1.25rem