.news
  color: #111111
  padding-bottom: 150px
  &__header
    display: flex
    justify-content: space-between
  &__title
    font-size: 45px
    font-family: 'ProximaNova', sans-serif
    font-weight: bold
    margin-bottom: 4rem
  &__list
    max-width: 970px


@media (min-width: 760px)
  .news
    &__item
      margin-right: 20px

@media (max-width: 550px)
  .news
    &__list
      overflow: hidden
    &__item-title
      font-size: 1.25rem
    &__item-date
      font-size: 1rem